@charset "UTF-8";

/* btn */
.btn_group{display: flex; align-items: center; justify-content: space-between; margin: 38px 0 25px; }
.btn{display: inline-block; @include font('B', 14px);}
.btn.btn_type{padding: 0 46px; height: 50px; color: #fff; line-height: 50px; background: #0035c3; border-radius: 44px;}
.btn.txt_link{color: #535353;}