@charset "UTF-8";

.offscreen{@include hiddenText;}

.agree_form {margin-top:30px;}
.agree_form input {position: absolute; left: 0; top: 0; width: 26px; height: 26px; opacity: 0; margin: 0; z-index: 2; clip: auto;}
.agree_form label {display:block; position:relative;cursor:pointer; vertical-align:middle;@include font('SB', 15px, 25/15);color:#000;padding-left: vw(60);}
.agree_form label span {font-weight:700;}
.agree_form label:before {content:'';  position:absolute; top:0; left:0; width: vw(42); height: vw(42); background:url(../images/ico_agree_chk_off2.png) no-repeat 0 0; background-size:vw(42) auto;}
.agree_form input:checked+label:before {content:''; background:url(../images/ico_agree_chk_on.png) no-repeat 0 0; background-size:vw(42) auto;}

.agree_form .check_all .check_top {padding:15px 20px; border:1px solid #ccc;}
.agree_form .check_all .check_top label {font-size:15px;}
.agree_form .check_all .check_top div {position:relative;}
.agree_form .check_all .check_bottom input {width:11px; height:8px;}
.agree_form .check_all .check_bottom label {padding-left:27px;}
.agree_form .check_all .check_bottom label:before {content:''; position:absolute; top:50%; left:8px; width: 11px; height: 8px; margin-top:-3px; background:url(../images/ico_small_check_off.png) no-repeat 0 0; background-size:11px auto;}
.agree_form .check_all .check_bottom input:checked+label:before {content:'';  background:url(../images/ico_small_check_on.png) no-repeat 0 0; background-size:11px auto;}
.agree_form .check_all .check_bottom {padding:16px 20px; border:1px solid #ccc; border-top:none;}
.agree_form .check_all .check_bottom label {font-size:13px;}
.agree_form .check_all .check_bottom div {position:relative; margin-bottom:9px;}
.agree_form .check_all .check_bottom div:last-child {margin-bottom:0;}
.agree_form .check_all .check_bottom div button {position:absolute; top:5px; right:0; width:12px; height:22px; background:url(../images/ico_agree_link.png) no-repeat 0 0; background-size:6px 11px;}


//accordion
.accordion{position: relative;}
.accordion .btn_down{position: absolute; top: 50%; right: 0; transform: translateY(-50%); display: inline-block; width: 14px; height: 8px; @include bg('ico_arrow_off.png', 0 0, cover);}
.accordion .btn_down.on{@include bg('ico_arrow_on.png', 0 0, cover);}
.accordion .detail{display: none;}
.accordion.title label{width:calc(100% - 20px);box-sizing: border-box;}

//설계 동의폼
.form_agrchk ul li .title{margin-bottom:vw(20);padding:0 vw(38);}
.form_agrchk ul li .title > div{position: relative;}
.form_agrchk ul li .detail{padding:0 vw(38);position: relative;}
.form_agrchk ul li.under_line .detail{border-bottom:vw(16) solid #f3f3f3;padding-bottom:vw(80);margin-bottom:vw(80);}
.form_agrchk ul li .form_agrchk_title{@include font('SB', 16px, 24/16);color:#000;margin-bottom:vw(25);position: relative;width: calc(100% - 20px);}
.form_agrchk ul li .form_agrchk_box{padding: vw(32) vw(44) vw(28) vw(40); border-radius: vw(30); background-color: #f4f4f4;margin: vw(30) 0 vw(60);@include font('R', 13px, 22/15);color:#717171;}
.form_agrchk ul li .in_box02{border-radius: vw(30);border:vw(0.5) solid #dcdcdc;overflow: hidden}
.form_agrchk ul li .in_box02+.in_box02{margin-top: vw(24);}
.form_agrchk ul li .in_box02 p{@include font('R', 13px, 22/15);color:#717171;background: #f4f4f4;padding:vw(30) vw(37);}
.form_agrchk ul li .form_agrchk_input{display: flex;padding: vw(38);}
.form_agrchk ul li .form_agrchk_input div{position: relative;}
.form_agrchk ul li .form_agrchk_input div+div{margin-left: vw(58);}
.form_agrchk ul li .form_agrchk_input label{@include font('SE', 14px, 25/15);color:#191919;}
.form_agrchk_btnBox{text-align: right;padding:0 vw(38);}
.form_agrchk_btnBox .btnBox_next{background-color: #0035c3;border-radius:vw(86);padding: vw(32) vw(95);@include font('B', 14px, 22/15);color:#fff;display: inline-block;margin-top:vw(80);}

.indivi_num{@include font('B', 14px, 27/15);color:#191919;padding: vw(40) 0;border-bottom:vw(0.5) solid #f4f4f4;} 
.indivi_num span{padding-right: vw(10);display: inline-block;}
.indivi_num input{@include font('B', 20px, 30/15);color:#191919;padding: 0 vw(10);letter-spacing: 2px;width:50%;}